# Auth token used for simple bearer token authentication for the API
AUTH_TOKEN=replace_with_secure_password
REDIS_URI=redis://:replace_with_secure_password@redis:6379
OTLP_ENDPOINT=http://pijamin:5081
PORT=8070

REDIS_PREFIX=mesastream
OTLP_AUTH=
OTLP_ORGANIZATION=black-mesa
YT_DLP_PATH=yt-dlp
YT_DLP_COOKIES=
ENCODING_BITRATE=128
AUDIO_CACHE_PATH=/var/cache/mesastream/audio
AUDIO_CACHE_TTL_SECS=604800
SOURCE_STREAM_CHANNEL_CAPACITY=16
CACHE_WRITER_BUFFER_BYTES=196608
CACHE_READER_BUFFER_BYTES=65536
RUST_LOG=info,mesastream=debug
